<%= form_with(url: change_forms_path, local: true) do |form| %>
  <% if @hr_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hr_form.errors.count, "error") %> prohibited this change_form from being saved:</h2>

      <ul>
      <% @hr_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

<h1>People Action Form</h1>
		<h2>Change Form</h2>
		<h3>Enter only information that changes</h3>
		    <!-- Field names -->
        <table class="fields">
            <tr>
                <td>
                    <div class="field">
                        <%= form.label(:name, "Full Name:") %>
                        <%= form.text_field :name, id: :hr_form_name, required: true %>
                    </div>
                </td>
            </tr>
            
            <tr>
                <td>
                    <div class="field">
                        <%= form.label(:change_effective_date, "Effective Date:") %>
                        <%= form.date_field :change_effective_date, id: :hr_form_change_effective_date %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                        <%= form.label(:new_title, "New Job Title:") %>
                        <%= form.text_field :new_title, id: :hr_form_new_title %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                        <%= form.label(:new_manager_name, "New Manager Name:") %>
                        <%= form.text_field :new_manager_name, id: :hr_form_new_manager_name %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                      <%= form.label(:department, "New Department:") %>
                      <%= form.text_field :department, id: :hr_form_department %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                      <%= form.label(:new_annual_base_salary, "New Annual Base Salary:") %>
                      <%= form.number_field :new_annual_base_salary, id: :hr_form_new_annual_base_salary %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                      <%= form.label(:new_variable_salary, "New Variable Salary:") %>
                      <%= form.number_field :new_variable_salary, id: :hr_form_new_variable_salary %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                      <%= form.label(:new_total_annual_salary, "New Total Annual Salary:") %>
                      <%= form.number_field :new_total_annual_salary, id: :hr_form_new_total_annual_salary %>
                    </div>
                </td>
            </tr>
         </table>
   <!--button to submit--> 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</form>		    