<%= form_with(url: hire_forms_path, local: true) do |form| %>
  <% if @hr_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hr_form.errors.count, "error") %> prohibited this hire_form from being saved:</h2>

      <ul>
      <% @hr_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<h1>People Action Form</h1>
		<h2>Hire Form</h2>
		    <!-- Field names -->
        <table class="fields">
            <tr>
                <td>
                    <div class="field">
                        <%= form.label(:name, "Full Name:") %>
                        <%= form.text_field :name, id: :hr_form_name %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                        <%= form.label(:email, "Personal E-mail:") %>
                        <%= form.text_field :email, id: :hr_form_email %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                        <%= form.label(:phone_number, "Phone Number:") %>
                        <%= form.text_field :phone_number, id: :hr_form_phone_number %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                      <%= form.label(:title, "Job Title:") %>
                      <%= form.text_field :title, id: :hr_form_title %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                      <%= form.label(:manager_name, "Manager Name:") %>
                      <%= form.text_field :manager_name, id: :hr_form_manager_name %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                      <%= form.label(:department, "Department:") %>
                      <%= form.text_field :department, id: :hr_form_department %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                      <%= form.label(:hire_date, "Hire Date:") %>
                      <%= form.date_field :hire_date, id: :hr_form_hire_date %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field">
                      <%= form.label(:annual_base_salary, "Annual Base Salary:") %>
                      <%= form.number_field :annual_base_salary, id: :hr_form_annual_base_salary %>
                    </div>
                </td>
            </tr>            
                <td>
                     <div class="field">
                      <%= form.label(:variable_salary, "Variable Salary:") %>
                      <%= form.number_field :variable_salary, id: :hr_form_variable_salary %>
                    </div> 
                </td>
            </tr>                    
                <td>
                    <div class="field">
                      <%= form.label(:total_annual_salary, "Total Annual Salary:") %>
                      <%= form.number_field :total_annual_salary, id: :hr_form_total_annual_salary %>
                    </div>
                </td>
            </tr>                    
        </table>
   <!--button to submit--> 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</form>