<!DOCTYPE html>
<html>
  <head>
    <title>ProjectCoffeeRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>

    <%= yield %>
  </body>
  
  <footer>
    <%= link_to 'Home', root_url %>
    <%= link_to 'Hire Form', new_hire_form_url %>
    <%= link_to 'Change Form', new_change_form_url %>
  </footer>

</html>
